[Unit]
Description=Newsboat reload timer
After=user-login.target

[Timer]
OnBootSec=1m
OnUnitActiveSec=60m
Unit=newsboat-reload.service

[Install]
WantedBy=timers.target
