! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! GRUVBOX colors
! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#define BACKGROUND #282828
#define FOREGROUND #ebdbb2
#define COLOR0  #282828
#define COLOR8  #928374
#define COLOR1  #cc241d
#define COLOR9  #fb4934
#define COLOR2  #98971a
#define COLOR10 #b8bb26
#define COLOR3  #d79921
#define COLOR11 #fabd2f
#define COLOR4  #458588
#define COLOR12 #83a598
#define COLOR5  #b16286
#define COLOR13 #d3869b
#define COLOR6  #689d6a
#define COLOR14 #8ec07c
#define COLOR7  #a89984
#define COLOR15 #ebdbb2
#define TBG argb:cc282828

! 0. Black           8.  Dark grey
! 1. Dark red        9.  Red
! 2. Dark green      10. Green
! 3. Dark yellow     11. Yellow
! 4. Dark blue       12. Blue
! 5. Dark magenta    13. Magenta
! 6. Dark cyan       14. Cyan
! 7. Light grey      15. White

! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! st (terminal)
! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
st.termname: st-256color
st.shell: /usr/bin/fish
st.font: IBM Plex Mono:pixelsize=14:antialias=true:autohint=true
st.alpha: 200
st.borderpx: 1
st.xfps: 300
st.actionfps: 75

! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! scratchpad sizes
! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
sp.top.width: 190
sp.top.height: 30
sp.bot.width: 150
sp.bot.height: 30

! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! bspwm settings (wm for window manager)
! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
wm.gaps: 0
wm.border: 2

! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! polybar (top bar)
! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
bar.font0: Ubuntu Nerd Font:fontformat=truetype:size=11:antialias=false;0
bar.font1: Font Awesome 5 Free:fontformat=truetype:size=11:antialias=false;0
bar.font2: siji:pixelsize=10;1
bar.border: 0
bar.radius: 0
bar.height: 30
bar.width: 100%

! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! rofi (app launcher)
! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
rofi.lines: 15
rofi.columns: 1
rofi.padding: 30
rofi.fullscreen: false
rofi.auto-select: false
rofi.color-enabled: true
rofi.hide-scrollbar: false
rofi.separator-style: "-"
rofi.font: Inconsolata Bold 12
rofi.drun-show-actions: true
rofi.case-sensitive: false
rofi.matching: normal

! Window:           'background',  'border', 'separator'
rofi.color-window: TBG,              COLOR8,    argb:ffffffff
!   State:              'bg',       'fg',      'altbg',        'hlbg',         hlfg
rofi.color-normal: argb:00282828, FOREGROUND, argb:00252936, argb:009575cd, #ff9575cd
rofi.color-active: argb:00282828, #b16286,    argb:00252936, argb:009575cd, #ffc000
rofi.color-urgent: argb:00252936, #cc241d,    argb:00252936, argb:00252936, #ff0000

! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Generic color settings
! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*background: BACKGROUND
*foreground: FOREGROUND
*color0:  COLOR0
*color8:  COLOR8
*color1:  COLOR1
*color9:  COLOR9
*color2:  COLOR2
*color10: COLOR10
*color3:  COLOR3
*color11: COLOR11
*color4:  COLOR4
*color12: COLOR12
*color5:  COLOR5
*color13: COLOR13
*color6:  COLOR6
*color14: COLOR14
*color7:  COLOR7
*color15: COLOR15
