[Desktop Entry]
Type=Application
Name=sc-im
Comment=Launch sc-im csv editor
Icon=utilities-terminal
Terminal=true
Exec=sc-im
Categories=ConsoleOnly;
MimeType=text/csv;text/xls;application/vnd.ms-excel;
