[Desktop Entry]
Type=Application
Name=Shortcut to
Terminal=false
Exec=term
Actions=walls;fkill;phonepics;screenshots;memes;floatingtermopaque;floatingterm;opqueterm

[Desktop Action walls]
Name=Wallpapers
Exec=/bin/sh -c "sxiv -t ~/Pictures/wallpaper"

[Desktop Action phonepics]
Name=Phone pictures
Exec=/bin/sh -c "sxiv -t ~/Pictures/phone/Camera"

[Desktop Action screenshots]
Name=Screenshots
Exec=/bin/sh -c "sxiv -t ~/Pictures/screenshots"

[Desktop Action memes]
Name=Memes (ayylmao)
Exec=/bin/sh -c "sxiv -t ~/Workspace/ayylmao"

[Desktop Action fkill]
Name=Fuzzy kill (fkill)
Exec=/bin/sh -c "term --float -g 150x20 -e fuzzy kill"

[Desktop Action opaqueterm]
Name=Opaque term terminal (meta + ctrl + enter)
Exec=/bin/sh -c "term --opaque"

[Desktop Action floatingterm]
Name=Floating term terminal (meta + shift + enter)
Exec=/bin/sh -c "term --float -g 150x30"

[Desktop Action floatingtermopaque]
Name=Floating term terminal (opaque)  (meta + shift + ctrl + enter)
Exec=/bin/sh -c "term --float --opaque -g 150x30"
