[Desktop Entry]
Type=Application
Name=Shortcut
Terminal=false
Exec=st
Actions=walls;fkill;

[Desktop Action walls]
Name=Wallpapers
Exec=/bin/sh -c "sxiv -t ~/Pictures/wallpaper"

[Desktop Action fkill]
Name=Fuzzy kill (fkill)
Exec=/bin/sh -c "st -c float -g 150x20 -e fuzzy kill"
