[Desktop Entry]
Type=Application
Name=Shortcut to
Terminal=false
Exec=st
Actions=walls;fkill;phonepics;screenshots;floatingstopaque;floatingst;opquest

[Desktop Action walls]
Name=Wallpapers
Exec=/bin/sh -c "sxiv -t ~/Pictures/wallpaper"

[Desktop Action phonepics]
Name=Phone pictures
Exec=/bin/sh -c "sxiv -t ~/Pictures/phone/Camera"

[Desktop Action screenshots]
Name=Screenshots
Exec=/bin/sh -c "sxiv -t ~/Pictures/screenshots"

[Desktop Action fkill]
Name=Fuzzy kill (fkill)
Exec=/bin/sh -c "st -c float -g 150x20 -e fuzzy kill"

[Desktop Action opaquest]
Name=Opaque st terminal (meta + ctrl + enter)
Exec=/bin/sh -c "st -A 1"

[Desktop Action floatingst]
Name=Floating st terminal (meta + shift + enter)
Exec=/bin/sh -c "st -c float -g 150x30"

[Desktop Action floatingstopaque]
Name=Floating st terminal (opaque)  (meta + shift + ctrl + enter)
Exec=/bin/sh -c "st -c float -g 150x30 -A 1"
